[user]
	email = shuhei.fujiwara@gmail.com
	name = sfujiwara
[color]
	ui = auto
[help]
	autocorrect = 1
[diff]
	colorMoved = zebra
[core]
	editor = emacs -nw
[pager]
	branch = cat
[init]
	defaultBranch = main
